.iq_logo {
  display: inline-block;
  font-size: 3em;
  position: relative;
  margin-right: 1.6em;
  left: 1em;
  color: white;
  background: red;
  border: 4px solid red;
  padding: 0 0.1em;
}
nav .fab {
  font-size: 2.6em;
}

.navbar-nav {
  width: 98%;
  justify-content: flex-end;
}
.navbar-nav .nav-item {
  padding-right: 2.3em;
}
.nl-con {
  font-size: 1.7rem;
  font-weight: 700;
}
.far:hover,
.fab:hover {
  color: #e31837;
}
.nl-con:hover {
  color: #e31837;
}
/* Another-nav */
.ni {
  font-size: 1.7rem;
  font-weight: 700;
}
.ni1 {
  font-size: 1.2rem;
  font-weight: 700;
}
.nl,
.ni1 {
  position: relative;
}
.ni1:after,
.nl::after {
  content: "";
  position: absolute;
  background-color: #e31837;
  height: 5px;
  width: 0%;
  left: 0;
  bottom: -4px;
  transition: width 130ms linear;
}
.nl:hover:after {
  width: 100%;
}

/* part-2 */
.car1,
.car2,
.car3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.car1-part1,
.car2-part1,
.car3-part1 {
  width: 38em;
  /* text-align: justify; */
}
.car1-head1,
.car2-head1,
.car3-head1 {
  font-size: 3.4em;
  font-weight: 700;
  text-align: justify;
  margin-bottom: 0.6em;
}
.car1-head2,
.car2-head2,
.car3-head2 {
  /* font-weight: 300; */
  font-size: 2em;
  margin-bottom: 1em;
  font-family: "Abel", sans-serif;
}
.caro-img1,
.caro2-img1,
.caro3-img1 {
  height: 26em;
  width: 25em;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 3em;
}
.pre {
  color: #212529;
  font-size: 2.1em;
  border: 2px solid #212529;
  padding: 0.3em;
  border-radius: 100%;
  position: relative;
  right: 1.5em;
  bottom: 3.5em;
  margin-right: 1.6em;
}
.nex {
  color: #212529;
  font-size: 2.1em;
  border: 2px solid #212529;
  padding: 0.3em;
  border-radius: 100%;
  position: relative;
  left: 1.4em;
  bottom: 3.5em;
  margin-left: 1.6em;
}
.pre:hover,
.nex:hover {
  color: #e31837;
  border: 2px solid #e31837;
}

.re-round {
  width: 14em;
  height: 14em;
  position: relative;
  z-index: 2;
  background: #dc0b21;
  opacity: 0.82;
  bottom: 13em;
  left: 12em;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: beige;
}

#part3 {
  margin-top: 10em;
  margin-bottom: 8em;
}
.about {
  text-align: center;
  margin-bottom: 1em;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1),
    rgba(255, 0, 0, 0.486),
    rgba(0, 0, 0, 0.1)
  );
}
.about-head {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
#part3 .row {
  justify-content: space-evenly;
  margin-right: 0;
}
.col-4 p {
  text-align: justify;
  font-weight: 300;
}
.col-4 i {
  font-size: 4rem;
  margin-bottom: 1rem;
  border: 4px solid black;
  border-radius: 12px;
  margin-left: 2em;
  padding: 1rem;
}
.col-4 i:hover {
  color: #e31837;
  border: 4px solid #e31837;
}

#part4 {
  padding: 7em 0;
}
.clas-div {
  padding-top: 31px;
  box-shadow: 0 10px 20px 3px grey;
  cursor: pointer;
  height: 25em;
}
.clas-hea {
  margin: 1em 0;
}
.clas-img {
  width: 15em;
  height: 14em;
  object-fit: fill;
}
#part4 .btn {
  margin-bottom: 1em;
}

#contact {
  padding: 2em 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.576),
    rgba(0, 0, 0, 0.4)
  );

  background-attachment: fixed;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em 17em;
}
.contact1 {
  /* margin: 3em 0; */
  text-align: center;
}
.social {
  text-align: center;
}
#contact .fab,
#contact .far {
  font-size: 1.5em;
  font-weight: 400;
  border: 1px solid rgba(255, 0, 0, 0.486);
  margin: 0 9px;
  padding: 10px;
  transition: transform 400ms linear;
}
#contact .fab:hover,
#contact .far:hover {
  transform: translatey(-15px);
  background-color: rgba(255, 255, 0, 0.9);
}

/* media Query */
.h_line {
  border-style: none;
  border-top: 5px solid black;
  width: 99%;
}
@media (max-width: 521px) {
  .ni1 {
    font-size: 0.9rem;
  }
  .nl {
    padding-right: 0.2em !important;
    padding-left: 0.2em !important;
    margin: 0 0.1em;
  }
  .navbar-nav {
    width: 100%;
  }
}
@media (max-width: 1140px) {
  .carousel {
    height: 27em !important ;
  }
  .car1-part1,
  .car2-part1,
  .car3-part1 {
    width: 50%;
  }

  .car1-head2,
  .car2-head2,
  .car3-head2 {
    /* font-weight: 300; */
    font-weight: 300;
    font-size: 130%;
    margin-bottom: 1em;
    font-family: "Abel", sans-serif;
  }
  .caro-img1,
  .caro2-img1,
  .caro3-img1 {
    height: 19em;
    width: 21em;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 3em;
  }
  .car1-head1,
  .car2-head1,
  .car3-head1 {
    font-size: 180%;
    font-weight: 700;
    text-align: justify;
    margin-bottom: 0.6em;
  }
  .re-round {
    width: 58%;
    height: 56%;
    bottom: 12em;
    left: 11em;
  }
  .pre,
  .nex {
    font-size: 1.7em;
    bottom: -18.4rem !important;
  }
  .pre {
    right: -14rem;
  }
  .nex {
    left: -14rem;
  }
  .carousel-indicators {
    bottom: -27% !important;
  }
}
@media (max-width: 800px) {
  #part3 .col-4 {
    padding: 1.5rem 0;
  }
  .lead {
    font-size: 1rem !important;
  }
}
@media (max-width: 702px) {
  .caro-img1,
  .caro2-img1,
  .caro3-img1 {
    height: 15em;
    width: 13em;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 3em;
  }
  .re-round {
    width: 47%;
    height: 43%;
    bottom: 9em;
    left: 8em;
  }
  .pre,
  .nex {
    font-size: 1.4em;
    bottom: -3.4rem;
  }
  .carousel-indicators {
    bottom: -24.9% !important;
  }
  .car1-head1,
  .car2-head1,
  .car3-head1 {
    font-size: 140%;
    font-weight: 700;
    text-align: justify;
    margin-bottom: 0.6em;
  }
  .car1-head2,
  .car2-head2,
  .car3-head2 {
    /* font-weight: 300; */
    font-weight: 300;
    font-size: 110%;
    margin-bottom: 1em;
    font-family: "Abel", sans-serif;
  }
  .btn-lg {
    padding: 0.2rem 0.5rem !important;
    font-size: 0.7rem !important;
    border-radius: 0.3rem;
  }
}
@media (max-width: 650px) {
  .pre {
    right: -9rem;
  }
  .nex {
    left: -9rem;
  }
}
@media (max-width: 440px) {
  .carousel {
    height: 9em !important;
  }
  .car1-head1,
  .car2-head1,
  .car3-head1 {
    font-size: 100%;
    font-weight: 700;
    text-align: justify;
    margin-bottom: 0.6em;
  }
  .car1-head2,
  .car2-head2,
  .car3-head2 {
    /* font-weight: 300; */
    font-weight: 300;
    font-size: 80%;
    margin-bottom: 1em;
    font-family: "Abel", sans-serif;
  }
  .caro-img1,
  .caro2-img1,
  .caro3-img1 {
    height: 10em;
    width: 10em;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 3em;
  }
  .pre,
  .nex {
    font-size: 1.4em;
    bottom: -10rem !important;
  }
  .pre {
    right: -4rem;
  }
  .nex {
    left: -4rem;
  }
  .carousel-indicators {
    bottom: -80.9% !important;
  }
  .re-round {
    width: 47%;
    height: 42%;
    bottom: 7em;
    left: 6em;
  }
}
